body {
    background-color: #777777;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Arial Black", sans-serif;
  }
  
  h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #00ffff;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 30px;
    background: linear-gradient(rgb(0, 0, 0), rgb(148, 148, 148));

    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .subirArchivo {
    height: 20px;
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 247, 255, 0.685));

    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table {
    margin-top: 8px;
    border-collapse: collapse;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));

    
    border-radius: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #00e1ff;
  }
  
  th {
    background-color: #000000; /* Cabeceras de tabla azules pastel */
    color: #ffffff;
    }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #cccccc;
  }
  
  .volver-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4d4d4d; 
    color: #000000;
    border-radius: 5px;
  }
  
  .btn-volver:hover {
    background-color: #5f5f5f;
  }
  
  .contenedor-principal {
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor-formulario {
    flex: 1; 
    margin-top: 26px;
    margin-right: 30px; 
  }
  
  .contenedor-tabla {
    flex: 1.5; 
    margin-right: 30px;
  }
  
  button:hover, .subirArchivo:hover, .btn-volver:hover {
    background-color: #444444; 
    color: #00eeff;
  }
  button#btnBorrar:hover {
    background-color: #c50700; 
    color: #000000;
  }