*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: white;
}
body
{
    background-color: rgb(68, 68, 68);
}

.Contenedor
{
    width: 650px;
    height: 800px;
    margin: 1px;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.651);
}

.Text
{
    font-size: 30px;
    text-align: center;
    
}

.Opciones
{
    width: 20%;
    height: 30px;
    background-color:rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.TextoC
{
    width: 70%;
    height: 110px;
    border-radius: 10px;
    background-color: rgb(7, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.TextoD
{
    width: 60%;
    height: 40px;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.Botones
{
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: center;
}

.Boton
{
    width: 18%;
    height: 30px;
    font-size: 20px;
    border-radius: 30px;
    background: linear-gradient(rgb(0, 0, 0), rgba(216, 175, 175, 0));
    color: rgb(255, 255, 255);
}


.Boton:hover
{
    width: 30%;
    height: 30px; 
}

header
{
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    background-repeat: no-repeat;
}

#menu
{
    display: none;
}

#menu:checked ~ .ul_links
{
    clip-path: circle(400px at center);
}

.ul_links
{
    clip-path: circle(0 at center);
    background-color:rgba(0, 0, 0, 0.63);
    transition: clip-path .5s ease-in-out;
    font-size: 50px;
}

@media (max-width:425px)
{
    header
    {
        min-height: 0;
        background-image: none;
    }

    .Contenedor
    {
        width: 350px;
    }

    #idFecha
    {
        flex-direction: row ;
    }

    .Botones
    {
        width: 400px;
        align-items:  center;
    }
}