/* Selector universal*/
*{
    margin: 0;
    padding: 0;
}

/* selector de etiqueta*/
body
{
    background-color:rgb(75, 75, 75);
    color: rgb(168, 168, 168);
}

/* selector de id*/
#Contendor
{
    width: 900px; 
    height: 4800px;
    background-color: rgb(167, 167, 167);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

/* Selector de ID*/
#Menu
{
    height: 130px;
    width: 65%;
    background-color: white;
    margin: 1em;
    border-radius: 10px;
}

/*Selector de ID*/
.ul
{
    text-align: center;
    padding: 10px;
}

/* Selector de ID */
#Encabezado
{
    width: 100%;
    background-color: rgb(124, 124, 124);
    border-radius: 5px;
    text-align: center;
}

.li
{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover
{
    color: rgb(0, 255, 0);
    font-size: 25px;
    text-decoration:  none;
    list-style: none;
}