/* Selector Universal */
*{
    margin: 0;  
    padding: 0;
}

/* Selector por etiqueta */
h4{
    font-size: 20px; /* Modifica 
    el tamaño de la fuente*/
}

body
{
    color: rgb(43, 43, 43);
    /*El color de el texto */
    background-color: rgb(255, 255, 255);
}

li
{
    display: inline; /* Hace que los 
    elementos se alinen horizontalmente*/
    justify-content: center; /* Centra 
    los elementos de manera horizontal*/
    padding: 10px 30px; /*Da un espacio 
    dentro de la caja*/
    margin: 10%; /*Da un espacio fuera de 
    la caja */
    
}

li a
{    
    text-decoration: none; /*Elimina la 
    decoracion del texto */
    color: rgb(255, 0, 0);
}

li a:hover
{
    color: firebrick;
    font-size: 25px;
    text-decoration:  none;
    list-style: none;
    width: 20%;
}

ul
{
    text-align: center; /* Centra de manera vertical*/
    padding: 10px;
}

button
{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    outline: 0;
    text-align: center;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover
{
    background-color: white;
}

/* Selector de clase */
.lmpp
{
    width: 50%;
    height: 300px;
}

.card
{
    width: 325px;
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    border-radius: 15px;
    overflow: hidden;
    transition: tranform 0.7s ease;
    text-align: center;
    margin: 25px;
}

.card:hover
{
    transform: scale(1.2)
}


.card img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 50px;
}

.card h1
{
    font-size: 20px;
    margin: 15px;
}

.card p
{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
}

.card button
{
    margin-bottom: auto;
}

.img
{
    width: 50%;
    border-radius: 20px;
    justify-items: center;
}

.texto 
{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(255, 255, 255);
}

.Flex
{
    display: flex;
    flex-basis: 75%;
    flex-direction: row;
    width: 1300x;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 2px rgb(244, 213, 249 / 0);
    background-color:transparent;
    padding: 25px;
    border-radius: 5 px;
    transition: all .3s ease;
    margin-bottom: 0px;
    min-width: 250px;
}

.item
{
  
    max-width: 200px;
    margin: 5px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
 }

 .menu_label
 {
    cursor: pointer;
    display: block;
    color: black;
    box-shadow: 0px 0px 10px 2px rgb(244, 213, 249 / 0);
 }

 .a_linkis
 {
    color: rgb(0, 255, 255);
 }

 .nav_menu
 {
    position: fixed;
    top: 370px;
    bottom: 0;
    background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.973));
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 0.7s ease-in-out;
    font-size: 150%;
 }

 .menuhm_uli
{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.menu_logo
{
    display: none;
}

#menu
{
    display: none;
}

.ul_links
{
    display: none;
}

.Clases
{
    color: rgb(0, 255, 255);
}

/* Selector ID */

#Principal
{
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
}

#Encabezado
{
    width: 100%;
    background-color: (transparent);
    border-radius: 5px;
    text-align: center;
}

 #menuhm
 {
    display: none;
 }

 
 #menuhm:checked ~ .nav_menu
 {
     clip-path: circle(5000px at center);
 }
 
/* Aplica diferentes estilos dependiendo el tamaño 
del navegador en el que se cargue la pagina */

@media (max-width:1440px)
{
    .Flex
    {
        justify-content: center;
        flex-direction: column;
        display: grid;
    }
}

@media (min-width:1024px)
{
    .Flex
    {
        justify-content: center;
    }
}

@media (min-width:768px)
{
    .Flex
    {
        justify-content: center;
    }
}